:root {
	--tabs-container-height: 95vh; /* 100% of viewport height */
	--tabs-container-width: auto; /* fill the viewport */
	--tabs-container-margin: 0.25em;
	--tabs-label-background: linear-gradient(#b38a55, #dfb988);  
	--tabs-label-background-hover: linear-gradient( #ffe7ca, #dfb988); 
	--tabs-label-background-selected: linear-gradient( #ffeed8, #ffe0b8);

}

/*
  set some core defaults for the content on the page.
*/
* {
	font-family: Arial, sans;
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* browser will account for border and padding when calculating elemen width & height */
}


/*
  define the dimensions of the main container.  this container encapsulates all the tabs in this implementation. 
*/
#tabs-container {
	width: var(--tabs-container-width); 
	min-height: var(--tabs-container-height);
	margin: var(--tabs-container-margin);
	display:grid;
	grid-template-rows:2.5em auto;  /* setup the row for tabs to be 2.5em, and the tab contents to fill the rest of the container */
}


input#tabs-input-10,
input#tabs-input-9,
input#tabs-input-8,
input#tabs-input-7,
input#tabs-input-6,
input#tabs-input-5,
input#tabs-input-4,
input#tabs-input-3,
input#tabs-input-2,
input#tabs-input-1 {
	display:none;
	z-index: -100;
}

label#tabs-label-10,
label#tabs-label-9,
label#tabs-label-8,
label#tabs-label-7,
label#tabs-label-6,
label#tabs-label-5,
label#tabs-label-4,
label#tabs-label-3,
label#tabs-label-2,
label#tabs-label-1 {
	background: var(--tabs-label-background);  
	border-radius: .50em .50em 0 0;
	color: #444444;  
    cursor: pointer;
	display: block;
	float: left;
	font-size: 1em;  
	height: 2.5em;
	line-height: 2.5em;
	margin-right: .25em;
	padding: 0 1.5em;
	text-align: center;
}

label#tabs-label-10:hover,
label#tabs-label-9:hover,
label#tabs-label-8:hover,
label#tabs-label-7:hover,
label#tabs-label-6:hover,
label#tabs-label-5:hover,
label#tabs-label-4:hover,
label#tabs-label-3:hover,
label#tabs-label-2:hover,
label#tabs-label-1:hover {
    background: var(--tabs-label-background-hover);
	color: #252525;  
}

input#tabs-input-10:checked ~ #tabs-container label#tabs-label-10,
input#tabs-input-9:checked ~ #tabs-container label#tabs-label-9,
input#tabs-input-8:checked ~ #tabs-container label#tabs-label-8,
input#tabs-input-7:checked ~ #tabs-container label#tabs-label-7,
input#tabs-input-6:checked ~ #tabs-container label#tabs-label-6,
input#tabs-input-5:checked ~ #tabs-container label#tabs-label-5,
input#tabs-input-4:checked ~ #tabs-container label#tabs-label-4,
input#tabs-input-3:checked ~ #tabs-container label#tabs-label-3,
input#tabs-input-2:checked ~ #tabs-container label#tabs-label-2,
input#tabs-input-1:checked ~ #tabs-container label#tabs-label-1 {
	background: var(--tabs-label-background-selected);  
    color: rgb(0, 0, 0); 
	position: relative;
	z-index: 10;
	filter: blur(0px);
}

#tabs-content {
	background: #ffe0b8;  
	border-radius: 0 .25em .25em .25em;


	position: relative;
	width: 100%;
	z-index: 5;
}

div#tabs-content-10,
div#tabs-content-9,
div#tabs-content-8,
div#tabs-content-7,
div#tabs-content-6,
div#tabs-content-5,
div#tabs-content-4,
div#tabs-content-3,
div#tabs-content-2,
div#tabs-content-1 {
	opacity: 0;
	padding: 1.5em;
	position: absolute;
	z-index: -100;

	transition: all 0.1s ease-out;
}

#tabs-content p {
	margin-bottom: 1em;
}

#tabs-content p.last {
	margin-bottom: 0;
}

#tabs-content p.column-left {
	float:left;
	width:48%;
}


/*
in the following, we are using the general sibling combinator to match content elements.  
The flow should be as follows:  select #tabs-content-1 within #tabs-content as long as it's sibling input#tabs-input-1 within #tabs-container is checked.
*/
input#tabs-input-10:checked ~ #tabs-container #tabs-content-10,
input#tabs-input-9:checked ~ #tabs-container #tabs-content-9,
input#tabs-input-8:checked ~ #tabs-container #tabs-content-8,
input#tabs-input-7:checked ~ #tabs-container #tabs-content-7,
input#tabs-input-6:checked ~ #tabs-container #tabs-content-6,
input#tabs-input-5:checked ~ #tabs-container #tabs-content-5,
input#tabs-input-4:checked ~ #tabs-container #tabs-content-4,
input#tabs-input-3:checked ~ #tabs-container #tabs-content-3,
input#tabs-input-2:checked ~ #tabs-container #tabs-content-2,
input#tabs-input-1:checked ~ #tabs-container #tabs-content-1 {
    opacity: 1;
    z-index: 100;
}

input.visible {
  visibility: visible !important;
}